.content-inner .aside-p{
	color: #d52229;
	font-size: 18px;
	font-style: normal;
	padding-top: 50px;
	padding-bottom: 30px;
}
.twitter-side{
	max-width: 250px;
	font-size: 13px;
	font-style: italic;
	text-align: left;
}
.aside-latin-word{
	color:#d52229;
}
.twitter-side p:last-child{
	padding-top: 10px;
}
.twitter-side p{
	padding-left: 43px;
	line-height: 20px;
}

.twitter-side p:nth-child(1n+3){
	padding-right: 43px;
}